In [1]:
################################### Preparation and data import ###################################

import pandas as pd
from numbers_parser import Document

def read_numbers_file(local_path: str) -> pd.DataFrame:
    """
    Reads the first table of the first sheet from a local .numbers file and 
    returns a Pandas DataFrame.
    """
    # 1. Load the .numbers file
    doc = Document(local_path)

    # 2. doc.sheets is a property (similar to a list), so use doc.sheets (NOT doc.sheets())
    sheets = doc.sheets  
    first_sheet = sheets[0]

    # 3. first_sheet.tables is also a property; use first_sheet.tables[0], not first_sheet.tables()
    first_table = first_sheet.tables[0]

    # 4. Extract rows as a list of tuples
    data_rows = first_table.rows(values_only=True)
    
    # 5. Assume the first row is the header
    if len(data_rows) > 1:
        header = data_rows[0]
        data = data_rows[1:]
        df = pd.DataFrame(data, columns=header)
    else:
        # If there's only a header or no data
        df = pd.DataFrame(data_rows)
    
    return df

# Example usage:
file_path1 = "/workspaces/IO-Assignment-1/OTC_Sales.numbers"
file_path2 = "/workspaces/IO-Assignment-1/OTC_Demographics.numbers"
file_path3 = "/workspaces/IO-Assignment-1/OTC_Instruments.numbers"

df1 = read_numbers_file(file_path1)
df2 = read_numbers_file(file_path2)
df3 = read_numbers_file(file_path3)

In [2]:
df1.head(-5)

,store,week,count,sales_1,sales_2,sales_3,sales_4,sales_5,sales_6,sales_7,...,prom_2,prom_3,prom_4,prom_5,prom_6,prom_7,prom_8,prom_9,prom_10,prom_11
0,2.0,1.0,14181.0,16.0,16.0,8.0,11.0,11.0,2.0,4.0,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00
1,5.0,1.0,18299.0,18.0,24.0,12.0,23.0,12.0,1.0,4.0,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00
2,8.0,1.0,24634.0,24.0,33.0,15.0,10.0,9.0,2.0,4.0,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00
3,9.0,1.0,18495.0,7.0,21.0,7.0,15.0,5.0,1.0,6.0,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00
4,12.0,1.0,27267.0,22.0,18.0,19.0,15.0,11.0,8.0,7.0,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3380,122.0,48.0,25383.0,26.0,34.0,32.0,29.0,13.0,8.0,9.0,...,0.0,0.53,1.00,0.0,0.0,1.00,0.90,0.0,1.0,0.25
3381,123.0,48.0,28108.0,29.0,46.0,27.0,19.0,15.0,6.0,7.0,...,0.0,0.48,1.00,0.0,0.0,0.57,0.80,0.0,1.0,0.30
3382,124.0,48.0,24684.0,26.0,21.0,27.0,20.0,7.0,5.0,5.0,...,0.0,0.70,1.00,0.0,0.0,0.80,0.88,0.0,1.0,0.42
3383,126.0,48.0,20588.0,10.0,26.0,36.0,26.0,10.0,8.0,4.0,...,0.0,0.58,1.00,0.0,0.0,1.00,1.00,0.0,1.0,0.36
3384,129.0,48.0,15771.0,15.0,18.0,26.0,23.0,11.0,4.0,6.0,...,0.0,0.58,0.48,0.0,0.0,0.67,0.44,0.0,1.0,0.31