In [3]:
import pandas as pd
from numbers_parser import Document

def read_numbers_file(local_path: str) -> pd.DataFrame:
    """
    Reads the first table of the first sheet from a local .numbers file and 
    returns a Pandas DataFrame.
    """
    # 1. Load the .numbers file
    doc = Document(local_path)

    # 2. doc.sheets is a property (similar to a list), so use doc.sheets (NOT doc.sheets())
    sheets = doc.sheets  
    first_sheet = sheets[0]

    # 3. first_sheet.tables is also a property; use first_sheet.tables[0], not first_sheet.tables()
    first_table = first_sheet.tables[0]

    # 4. Extract rows as a list of tuples
    data_rows = first_table.rows(values_only=True)
    
    # 5. Assume the first row is the header
    if len(data_rows) > 1:
        header = data_rows[0]
        data = data_rows[1:]
        df = pd.DataFrame(data, columns=header)
    else:
        # If there's only a header or no data
        df = pd.DataFrame(data_rows)
    
    return df

# Example usage:
file_path1 = "/workspaces/IO-Assignment-1/OTC_Sales.numbers"
file_path2 = "/workspaces/IO-Assignment-1/OTC_Demographics.numbers"
file_path3 = "/workspaces/IO-Assignment-1/OTC_Instruments.numbers"

df1 = read_numbers_file(file_path1)
df2 = read_numbers_file(file_path2)
df3 = read_numbers_file(file_path3)

print("\nDataFrame 1:")
print(df1.head())
print("\nDataFrame 2:")
print(df2.head())
print("\nDataFrame 3:")
print(df3.head())

DataFrame 1:
   store  week    count  sales_1  sales_2  sales_3  sales_4  sales_5  sales_6  \
0    2.0   1.0  14181.0     16.0     16.0      8.0     11.0     11.0      2.0
1    5.0   1.0  18299.0     18.0     24.0     12.0     23.0     12.0      1.0
2    8.0   1.0  24634.0     24.0     33.0     15.0     10.0      9.0      2.0
3    9.0   1.0  18495.0      7.0     21.0      7.0     15.0      5.0      1.0
4   12.0   1.0  27267.0     22.0     18.0     19.0     15.0     11.0      8.0

   sales_7  ...  prom_2  prom_3  prom_4  prom_5  prom_6  prom_7  prom_8  \
0      4.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1      4.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2      4.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3      6.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4      7.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0

   prom_9  prom_10  prom_11
0     0.0      0.0      0.0
1     0.0      0.0      0.0
2     0.0      0.0      0.0
3     0.0      0.0      0.0
4     0.0      0.0      0.0

[5 rows x 47 columns]

DataFrame 2:
   store      educ     income
0    2.0  0.248935  10.553210
1    5.0  0.321226  10.922370
2    8.0  0.095173  10.597010
3    9.0  0.222172  10.787150
4   12.0  0.253413   9.996659

DataFrame 3:
   store  week  brand  cost_  avoutprice  pricestore1  pricestore2  \
0    2.0   1.0    1.0   2.06    0.002405         3.33         3.29
1    2.0   1.0    2.0   3.43    0.007815         4.65         4.71
2    2.0   1.0    3.0   5.72    0.009216         6.68         6.67
3    2.0   1.0    4.0   2.03    0.004842         2.67         2.67
4    2.0   1.0    5.0   3.46    0.005158         4.97         4.97

   pricestore3  pricestore4  pricestore5  ...  pricestore21  pricestore22  \
0         3.34         3.33         3.29  ...          3.33          3.23
1         4.74         4.88         4.92  ...          4.83          4.55
2         6.64         6.54         7.00  ...          6.94          7.01
3         2.67         3.01         3.01  ...          2.67          2.67
4         4.97         4.97         4.97  ...          4.97          4.97

   pricestore23  pricestore24  pricestore25  pricestore26  pricestore27  \
0          3.29          3.31          3.35          3.37          3.31
1          4.84          4.72          4.84          4.76          4.76
2          7.01          7.52          7.11          6.58          7.14
3          2.67          3.01          2.67          2.67          3.01
4          4.97          4.97          4.97          4.97          4.97

   pricestore28  pricestore29  pricestore30
0          3.28          3.29          3.24
1          4.76          4.84          4.77
2          7.23          7.04          7.97
3          2.67          3.01          3.01
4          4.97          4.97          4.97

[5 rows x 35 columns]

In [11]:
df1.head()

,store,week,count,sales_1,sales_2,sales_3,sales_4,sales_5,sales_6,sales_7,...,prom_2,prom_3,prom_4,prom_5,prom_6,prom_7,prom_8,prom_9,prom_10,prom_11
0,2.0,1.0,14181.0,16.0,16.0,8.0,11.0,11.0,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.0,1.0,18299.0,18.0,24.0,12.0,23.0,12.0,1.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8.0,1.0,24634.0,24.0,33.0,15.0,10.0,9.0,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,1.0,18495.0,7.0,21.0,7.0,15.0,5.0,1.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12.0,1.0,27267.0,22.0,18.0,19.0,15.0,11.0,8.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0